<main>
  <span>{{ 'main_left.png' | asset_url | img_tag: 'main_left' }}</span>
  <div>
    <h1>Natural, sustainable living and peace of mind coming together in harmony</h1>
      <form action="/search" method="get" role="search">
      <label for="Search" class="label-hidden">
      {{ 'general.search.placeholder' | t }}
      </label>
      <input type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="Search for things good for you and kind to earth">
      <button type="submit" class="btn">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
      </form>
    </div>
    <span>{{ 'main_right.png' | asset_url | img_tag: 'main_right' }}<span>
</main>

<section>
  <div>
   {{ 'index-1-made.png' | asset_url | img_tag: 'Passionate Artisans' }}
   <h2>Made By Passionate Artisans</h2>
   <p>Shopterra’s unique product rating system developed through extensive industry experience, and verified...</p>
   <a href="#">Learn More</a>
  </div>
  <div>
   {{ 'index-2-trust.png' | asset_url | img_tag: 'Trust' }}
   <h2>Products You Can Trust</h2>
   <p>Shopterra’s unique product rating system developed through extensive industry experience, and verified...</p>
   <a href="#">Learn More</a>
  </div>
  <div>
    {{ 'index-3-marketplace.png' | asset_url | img_tag: 'Curated Marketplace' }}
    <h2>Curated Marketplace</h2>
    <p>Shopterra’s unique product rating system developed through extensive industry experience, and verified...</p>
    <a href="#">Learn More</a>
  </div>
</section>

<section>
  <div>
    <h3>A message form our experts about sustainability and why products’ origin matter.</h3>
    <span class="date">Date: 07/27/18</span>
  </div>
  {{ 'placeholder_video.png' | asset_url | img_tag: 'Video' }}
</section>

{{ content_for_index }}

 <div class="manufacturers">
   <h2>
     Our manufacturers of the week.<br />
     Customers love their products and their products support the planet and your natural lifestyle.
   </h2>
   <figure>
     {{ "manufacturer_sinclair.png" | asset_url | img_tag: "Manufacturer" }}
     <figcaption>
       <h3>Ana Sinclair</h3>
       <p>*****</p>
       <p>Ana’s shop has many organic daily care products, from a large variety of soaps and shampoos, to face...</p>
       <span class="featured-collection">
         <div class="item" style="border-color: #35a6b0; padding-bottom: 20px;">
           <p>Product 1</p>
           {{ "product_1.png" | asset_url | img_tag: "Product 1" }}
         </div>
         <div class="item" style="border-color: #35a6b0; padding-bottom: 20px;">
           <p>Product 1</p>
           {{ "product_2.png" | asset_url | img_tag: "Product 2" }}
         </div>
       </span>
       <button class='btn-lg'>Visit Ana's Shop</button>
     </figcaption>
   </figure>

 </div>
