<main role="main" id="MainContent" class="About About-Buyer">
  <h1>Natural, sustainable living and peace of mind coming together in harmony</h1>
  <h3> Shop for truly natural products with the help of easy to understand, transparent information about how safe they are for you and the impact they have on the environment</h3>
  {% section 'signup' %}
  {% section 'about' %}
  <div class="signup">
    {% section 'signup' %}
  </div>
</main>

<section class='Rating margin'>
  {{ 'buyer_header.png' | asset_url | img_tag: 'rating', 'seller' }}
  <h2>Shopterra Product Rating System</h2>
  <p>Simple. Transparent. Independent.</p>
  <p class="desktop sans">Shopterra’s unique product rating system developed through extensive industry experience, and verified by the highly respected NSF International, assesses safety and source of ingredients, and the environmental impact of all the products we bring to you.</p>
<div class="Rating">
  <div class='good-container'>
    <div class='GoodFor'>
      {{ 'icon_you.png' | asset_url | img_tag: 'rating' }}
      <h2 class='pink'>Good For You</h2>
      <p>Our “Good for You” rating reflects how safe a product is for use by you and your family, and how naturally-derived the ingredients are. A higher “Good for You” rating indicates that a product has undergone accredited safety testing and does not contain ingredients that are known to cause chronic or acute health effects. A higher rating also indicates a higher percentage of naturally-derived ingredients within the product. Products with a low “Good for You” rating will not be offered on Shopterra.</p>
      <ul>
        <li>Certified Safety Testing</li>
        <li>Naturally-derived or synthetic</li>
        <li>Ingredients</li>
        <li>Paraben-free</li>
        <li>CIT/MIT-free</li>
        <li>Free from formaldehyde donors</li>
        <li>Sulfate-free</li>
        <li>Glycol-free</li>
        <li>Alcohol-free</li>
        <li>Silicone-free</li>
        <li>Free of synthetic dyes and fragrances</li>
      </ul>
      <hr class="mobile"></hr>
    </div>
    <div class='GoodFor'>
      {{ 'icon_earth.png' | asset_url | img_tag: 'rating' }}
      <h2 class='green'>Kind to Earth</h2>
      <p>Our “Kind to Earth” rating reflects the degree to which a product and packaging affects the environment during use and disposal. A higher “Kind to Earth” rating indicates that the product and packaging are highly biodegradable, recyclable, and leaves a lower carbon footprint impact on the environment. Products with a low “Kind to Earth” rating will not be offered on Shopterra.</p>
      <ul>
        <li>Product impact to the environment</li>
        <li>Product biodegradability</li>
        <li>Product carbon footprint</li>
        <li>Packaging impact to the environment</li>
        <li>Packaging ease of re-use</li>
        <li>Recyclability</li>
      </ul>
      <hr class="mobile"></hr>
    </div>
  </div>
</div>

  <div class='Example'>
    <div class='heading'>
      <p>You'll see this rating on all products sold on Shopterra.</p>
    </div>
    <div class='content-container'>
      <div class='content'>
        {{ 'product_example.png' | asset_url | img_tag: 'example' }}
      </div>
      <div class='content'>
        <p class='patent'>Shopterra’s unique product rating system developed through extensive industry experience, and verified by the highly respected NSF International, assesses safety and source of ingredients, and the environmental impact of all the products we bring to you.</p>
        {{ 'agency_nsf.png' | asset_url | img_tag: 'agency', 'nsf' }}
      </div>
    </div>
  </div>

</section>

<div class='Why'>
  <h1>Why Shopterra?</h1>
  <h3>A better shopping experience for natural and sustainable lifestyles</h3>
  <p>Shopterra offers one platform for both natural and environmentally conscious consumers to purchase products with confidence. Our simple, transparent rating system, developed independently through extensive experience and verified by NSF International, is used to evaluate every product we bring to you, so you can not only trust them but also differentiate them from conventional products that are often neither natural nor environmentally safe. We are building a community of like-minded consumers who share your values of living a natural lifestyle and we help you inspire your friends and families to choose natural, sustainable products to make a difference in their lives and for our planet.</p>
</div>

<div class='Categories'>
  <h1>Categories we'll specialize in first</h1>
  <div class='grid'>
    <div>{{ 'personal_care_category.jpg' | asset_url | img_tag: 'Personal Care' }}</div>
    <div>{{ 'petcare_category.jpg' | asset_url | img_tag: 'Pet Care' }}</div>
    <div>{{ 'homecare_category.jpg' | asset_url | img_tag: 'Home Care' }}</div>
    <div>{{ 'nutriments_category.jpg' | asset_url | img_tag: 'Nutriments' }}</div>
  </div>
</div>

<div class="divider">
  <hr>
  {{ 'seller_icon.png' | asset_url | img_tag: 'divider' }}
  <hr>
</div>

<div class="Link">
  <p>Have a product you<br>want to sell on Shopterra?</p>
  <a href="http://stores.shopterra.com" target="_blank">Learn More Here</a>
</div>
