<!-- /pages/store -->

<div class="welcome" id="welcome">
  <h1>Thank you for test driving Shopterra</h1>
  <p>This website is a demo, so some features (such as search) are disabled. Sign up <a href="/">here</a> to be notified when we launch.</p>
  <div class="close" id="close">
    {% include 'icon-close' %}
  </div>
</div>

<div>
  {% section 'header' %}
</div>
  <main>
    <span>{{ 'main_left.png' | asset_url | img_tag: 'main_left' }}</span>
    <div>
      <h1>Natural, sustainable living and peace of mind coming together in harmony</h1>
        <form action="/search" method="get" role="search">
        <label for="Search" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
             name="q"
             id="Search"
             value="{{ search.terms | escape }}"
             placeholder="Search for things good for you and kind to earth">
        <button type="submit" class="btn">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
        </form>
      </div>
      <span>{{ 'main_right.png' | asset_url | img_tag: 'main_right' }}<span>
  </main>

  <section class="trio">
    <div>
     {{ 'index-1-made.png' | asset_url | img_tag: 'Passionate Artisans' }}
     <h2>Made By Passionate Artisans</h2>
     <p>Shopterra’s unique product rating system developed through extensive industry experience, and verified...</p>
     <a href="#">Learn More</a>
    </div>
    <div>
     {{ 'index-2-trust.png' | asset_url | img_tag: 'Trust' }}
     <h2>Products You Can Trust</h2>
     <p>Shopterra’s unique product rating system developed through extensive industry experience, and verified...</p>
     <a href="#">Learn More</a>
    </div>
    <div>
      {{ 'index-3-marketplace.png' | asset_url | img_tag: 'Curated Marketplace' }}
      <h2>Curated Marketplace</h2>
      <p>Shopterra’s unique product rating system developed through extensive industry experience, and verified...</p>
      <a href="#">Learn More</a>
    </div>
  </section>

  <section>
    <div>
      <h3>A message from our experts about how everyday chemicals can be toxic and why natural products matter.</h3>
      <span class="date">Date: 07/27/18</span>
    </div>
    {{ 'placeholder_video.png' | asset_url | img_tag: 'Video' }}
  </section>

  {{ content_for_index }}

  {% section 'featured-seller' %}

<div class="learn-more">
     <figure>
       <figcaption>
         <h2>Shop for products that are kind to our beloved planet.</h2>
         <p>Buy products with the help of easy to understand, transparent information about what impact they have on the environment.</p>
         <button class='btn btn-md'>Learn More</button>
       </figcaption>
       {{ "learn-more.png" | asset_url | img_tag: "Learn More", 'padded' }}
     </figure>
   </div>

   <div class="rating">
     <h2>Shopterra Rating System<sup>&copy;</sup></h2>
     {{ "rating.png" | asset_url | img_tag: "Rating System" }}
     <p>
       Shopterra’s simple to use rating system asseses safety and source of ingredients, and the environmental impact of all products we bring to you. Our rating system was developed through extensive industry experience, and in collaboration with the highly respected NSF international.
     </p>
     <p>
       {{ "rating_logo_shopterra.png" | asset_url | img_tag: "Shopterra" }}
       rating is verified by
       {{ "rating_logo_nsf.png" | asset_url | img_tag: "NSF", 'nsf' }}
     </p>
     <p>
       Our rating system is <span class="large">Independent. Transparent. Verified.</span>
     </p>
     <button class='btn btn-md'>Learn More</button>
   </div>

  <div class="categories">
    <h2>Product Categories</h2>
    <section>
      <figure>
        {{ "product_1.png" | asset_url | img_tag: "product_1", "block" }}
        <figcaption>Personal Care</figcaption>
      </figure>
      <figure>
        {{ "product_2.png" | asset_url | img_tag: "product_2", "block" }}
        <figcaption>Pet Care</figcaption>
      </figure>
      <figure>
        {{ "product_3.png" | asset_url | img_tag: "product_3", "block" }}
        <figcaption>Home Care</figcaption>
      </figure>
      <figure>
        {{ "product_4.png" | asset_url | img_tag: "product_4", "block" }}
        <figcaption>Nutriments</figcaption>
      </figure>
    </section>
  </div>

  <div class="contact">
    <section class="sign-up">
      {{ "newsletter.png" | asset_url | img_tag }}
      <h1>SignUp for our Newsletter</h1>
      <form>
        <input type="text" placeholder="Your email" />
        <button class="btn btn-lg" type="submit">Sign Up</button>
      </form>
    </section>
    <section class="sell">
      {{ "plant.png" | asset_url | img_tag: "Sell", 'bg' }}
      <div>
        <h1>Have a product to sell?</h1>
        <button class="btn btn-lg" type="submit">Sell on Shopterra</button>
      </div>
    </section>
  </div>

  {% section 'latest-additions' %}

  <br /><br /><br />

  <script>
    var welcome = document.getElementById('welcome');
    var close = document.getElementById('close');
    var header = document.getElementsByTagName('header')[0];
    var show = true;

    var slideOut = function() { welcome.classList.remove('scroll') }

    var onLoad = function() {
      var slideIn = welcome.classList.add('scroll');
      setTimeout(slideOut, 6000);
    }

    var onScroll = function() {
      if (show == true) {
        var slideIn = welcome.classList.add('scroll');
        setTimeout(slideOut, 6000);
      }
      show = false;
    }

    document.addEventListener("DOMContentLoaded", onLoad);
    window.addEventListener("scroll", onScroll);
    close.addEventListener('click', slideOut);

  </script>
