<div class="Header">
  {% section 'header' %}
</div>

{% paginate search.results by 10 %}

  <div>
    {% if search.performed %}
      {% if search.results_count >= 0 %}
      <div class="prelaunch" style="padding-top: 50px;">
        <h1>Thanks for your interest!</h1>
        <p>We are working away to bring you top quality natural and eco-friendly products from passionate artisans who also care deeply about your well-being and keeping our planet clean. Please sign up <a href="/">here</a> to be notified of our launch.</p>
        <p>
          Here are some examples of the type of products you will see on Shopterra:
        </p>
        <div class="product-list">
          <ul style="color: #5e6568;">
            <li><strong style="color: #35a6b0;">Home Care</strong></li>
            <li>Airfreshners</li>
            <li>Blush On</li>
            <li>Bug Repellant</li>
            <li>Candles</li>
            <li>Carpet Care</li>
            <li>Carpet Deodorizers</li>
            <li>Dinfectants</li>
            <li>Dish Cleaner</li>
            <li>Drain Openers</li>
            <li>Fabric Softner</li>
            <li>Face Wash</li>
            <li>First Aid</li>
            <li>Floor Cleaners</li>
            <li>Gardening Supplies</li>
            <li>Household Cleaner</li>
            <li>Laundry Detergent</li>
            <li>Light Bulbs</li>
            <li>Lint Remover</li>
            <li>Make Up Remover</li>
            <li>Mounthwash</li>
            <li>Oven Cleaner</li>
            <li>Stain Remover</li>
            <li>Washing Machine Cleaners</li>
            <li>Wood Care</li>
            <li>Pest Control</li>
          </ul>
          <ul style="color: #5e6568;">
            <li><strong style="color: #35a6b0;">Personal Care</strong></li>
            <li>Anti-aging</li>
            <li>Antiperspirants</li>
            <li>Aroma Therapy</li>
            <li>Baby Balm</li>
            <li>Baby Bath </li>
            <li>Baby Cream</li>
            <li>Baby Diaper Rash Cream</li>
            <li>Baby Wipe</li>
            <li>Bath Salt</li>
            <li>Beauty Aids</li>
            <li>Body Wash</li>
            <li>Breath Fresheners</li>
            <li>Bug Repellant</li>
            <li>Cleansers</li>
            <li>Conditioner</li>
            <li>Detangle</li>
            <li>Baby Diaper</li>
            <li>Adult Diaper</li>
            <li>Elixirs</li>
            <li>Essential Oil</li>
            <li>Exfoliators</li>
            <li>Eye Care</li>
            <li>Foot Care</li>
            <li>Fragrances</li>
            <li>Hair Care</li>
            <li>Hair Color</li>
            <li>Hair Removal</li>
            <li>Hand Cream</li>
            <li>Hand Lotion</li>
            <li>Hand Sanitizers</li>
            <li>Hand Soap</li>
            <li>Lice Treatment</li>
            <li>Lip Care</li>
            <li>Lip Color</li>
            <li>Lotion</li>
            <li>Mashcara</li>
            <li>Masks</li>
            <li>Massage Creams</li>
            <li>Moisturizer</li>
            <li>Mounthwash</li>
            <li>Nail Care</li>
            <li>Nail Polish</li>
            <li>Oral Care</li>
            <li>Saving Cream</li>
            <li>Saving Lotion</li>
            <li>Serums</li>
            <li>Shampoo</li>
            <li>Shower Gel</li>
            <li>Soap</li>
            <li>Spa </li>
            <li>Sunscreen</li>
            <li>Toners</li>
            <li>Tooth Brush</li>
            <li>Tooth Paste</li>
            <li>Wipes</li>
            <li>Blush On</li>
            <li>Make Up Remover</li>
            <li>Face Wash</li>
          </ul>
          <ul style="color: #5e6568;">
            <li><strong style="color: #35a6b0;">Pet Care</strong></li>
            <li>Pet Bath Soap</li>
            <li>Pet Cleansers</li>
            <li>Pet Conditioner</li>
            <li>Pet Dental Care</li>
            <li>Pet Deodorizer</li>
            <li>Pet Ear Care</li>
            <li>Pet Odor Control</li>
            <li>Pet Wipes</li>
            <li>Pet Shampoo</li>
            <li>Pet Skin Care</li>
            <li>Tick Treatment</li>
            <li>Pet Toothpaste</li>
          </ul>
          <ul style="color: #5e6568;">
            <li><strong style="color: #35a6b0;">Nutriments</strong></li>
            <li>Botanical extracts</li>
            <li>Culinary herbs</li>
            <li>Electrolytes</li>
            <li>Energy Infusion</li>
            <li>Extracts</li>
            <li>Flower essences/remedies</li>
            <li>Immune system Enhancer</li>
            <li>Tea</li>
            <li>Tonics</li>
          </ul>
        </div>        <!-- {{ 'general.search.no_results_html' | t: terms: search.terms }} -->
      {% else %}
        <!-- {{ 'general.search.results_for_html' | t: terms: search.terms }} -->
      {% endif %}
    {% else %}
      <!-- {{ 'general.search.title' | t }} -->
    {% endif %}
  </div>

  <!-- <form action="/search" method="get" role="search">
    <label for="Search" class="label-hidden">
      {{ 'general.search.placeholder' | t }}
    </label>
    <input type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
  </form> -->


<!-- {% if search.performed %}
    <ul>
      {% for item in search.results %}
        <li>
          {% assign featured_image = item.image | default: item.featured_image %}
          {% if featured_image != blank %}
            <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
              {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
            </a>
          {% endif %}

          <h5>{{ item.title | link_to: item.url }}</h5>

          {% if item.object_type == 'product' %}
            <p>
              {% if item.compare_at_price > item.price %}
                {% if item.price_varies %}
                  {% assign sale_price = item.price | money %}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  <span itemprop="price">{{ item.price | money }}</span>
                {% endif %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s>{{ item.compare_at_price | money }}</s>
              {% else %}
                {% if item.price_varies %}
                  {% assign price = item.price | money %}
                  <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
                {% else %}
                  <span itemprop="price">{{ item.price | money }}</span>
                {% endif %}
              {% endif %}
              {% unless item.available %}
              {{ 'products.product.sold_out' | t }}
              {% endunless %}
            </p>
          {% else %}
            <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
          {% endif %}

        </li>
      {% endfor %}
    </ul> -->

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}

{% endpaginate %}
