{% if section.settings.title != blank %}
  <h2 class="featured-title">{{ section.settings.title | escape }}</h2>
{% endif %}

<div class="featured-collection">
{%- assign collection = collections[section.settings.collection] -%}

{% for product in collection.products limit: 4 %}
<div class="item">
  <p>{{ product.title }}</p>
  <a href="{{ product.url | within: collection }}">

    {% if product.featured_image != blank %}
      {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
    {% endif %}

  </a>

  <span class="details">
    <p>
    {% if product.compare_at_price > product.price %}

      {% if product.price_varies %}
        {%- assign sale_price = product.price | money -%}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        {{ 'products.product.on_sale' | t }}
        {{ product.price | money }}
      {% endif %}

    {% else %}

      {% if product.price_varies %}
        {%- assign price = product.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}

    {% endif %}
    </p>
    <span>{{ product.description }}</span>
  </span>
</div>
{% else %}

  {% for i in (1..6) %}
    <a href="#">
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

      <p>
        {{ 'homepage.onboarding.product_title' | t }}
      </p>
    </a>

    <p>{{ 1999 | money }}</p>
  {% endfor %}
{% endfor %}

</div>
{% schema %}
  {
    "name": "Most loved",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Latest Additions"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Most loved",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
